@model LojaNinja.Dominio.Pedido

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@ViewBag.MensagemSucesso != null)
{
    <h3 class="alert alert-success">@ViewBag.MensagemSucesso</h3>
}

<div>
    <h2>Detalhes</h2>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            Data Pedido:
        </dt>

        <dd>
            @Model.DataPedido.ToShortDateString()
        </dd>

        <dt>
            Data Desejada:
        </dt>

        <dd>
            @Model.DataEntregaDesejada.ToShortDateString()
        </dd>

        <dt>
            Produto:
        </dt>

        <dd>
            @Model.NomeProduto
        </dd>

        <dt>
            Valor:
        </dt>

        <dd>
            R$@Model.Valor.ToString("0.00")
        </dd>

        <dt>
            Tipo de Pagamento:
        </dt>

        <dd>
            @Model.TipoPagamento
        </dd>

        <dt>
            Cliente:
        </dt>

        <dd>
            @Model.NomeCliente
        </dd>

        <dt>
            Cidade:
        </dt>

        <dd>
            @Model.Cidade
        </dd>

        <dt>
            Estado:
        </dt>

        <dd>
            @Model.Estado
        </dd>

        <dt>
            Urgente:
        </dt>

        <dd>
            @if (Model.PedidoUrgente) { <div>Sim <span class="glyphicon glyphicon-warning-sign"></span> </div> }
            else { <div>Não</div>}
        </dd>

    </dl>
</div>
