@model IEnumerable<LojaNinja.Dominio.Pedido>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a href="~/Pedido/Manter" class="btn btn-primary">Cadastrar novo Pedido</a>    
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            Data do Pedido
        </th>
        <th>
            Data Entrega Des.
        </th>
        <th>
            Produto
        </th>
        <th>
            Valor
        </th>
        <th>
            Cliente
        </th>
        <th>
            Cidade
        </th>
        <th>
            Estado
        </th>
        <th>
            Urgente
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.DataPedido.ToShortDateString()
            </td>
            <td>
                @item.DataEntregaDesejada.ToShortDateString()
            </td>
            <td>
                @item.NomeProduto
            </td>
            <td>
               R$ @item.Valor.ToString("0.00")
            </td>
            <td>
                @item.NomeCliente
            </td>
            <td>
                @item.Cidade
            </td>
            <td>
                @item.Estado
            </td>
            <td>
                @if(item.PedidoUrgente)
                { <div>Sim <span class="glyphicon glyphicon-warning-sign"></span> </div> }
                else
                { <div>Não</div>}
            </td>
            <td>
                <a href="~/Pedido/Manter/@item.Id">Editar</a>
                <a href="~/Pedido/Detalhes/@item.Id">Detalhes</a>
                <a href="~/Pedido/Excluir/@item.Id">Remover</a>                
            </td>
        </tr>
    }
</table>